html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 99%;
}

#container {
    min-height: 100%;
    position: relative;
}

#header {
    height: 28px;
    background: rgb(163, 170, 170);
    width: 102% !important;
}

#body {
    padding: 10px;
    padding-bottom: 60px;
    background: rgb(255, 255, 255);
    /* Height of the footer */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 102% !important;
    height: 60px;
    /* Height of the footer */
    background: #6cf;
}

.profile-pic {
    border-radius: 80%;
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: rgb(190, 187, 187);
}

.fa-frog {
    color: rgb(255, 255, 255);
}

.p {
    text-align: justify;
    text-justify: inter-word;
}